<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shenrong.ssm.mybatis.dao.RoleMapper">
    <select id="getWorkCard" parameterType="long" resultType="workCard">
        select id, emp_id empId, real_name realName, department, mobile, position,
        note from t_work_card where emp_id = #{empId}
    </select>
</mapper>